<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72404432193-dr92p63jnlsh3047qjb8sppf7rk7l6t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72404432193-dr92p63jnlsh3047qjb8sppf7rk7l6t8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>72404432193-8hdm2jiavl18gg2a9hvr4bn03dc5gv2c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBVtOJsmDCTrO-DP857vbLjokkStKzUH0</string>
	<key>GCM_SENDER_ID</key>
	<string>72404432193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Practise</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-aeae6</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-aeae6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72404432193:ios:75c22e31348efeebc79dc0</string>
</dict>
</plist>